body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: teal;
}

header {
    background: purple;
    border: 3px solid black;
    margin: 15px;
    height: 100px;
}

.name {
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-family: serif;

}

/* link properties */
.btns a {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
 }

/* .btns:hover , .btns:active {
    background-color: red;
} */

nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    float: right;
  }
  
nav .btns {
    display: inline;
    font-size: 20px;
  }

/* side text*/
h2{
    font-family: serif;
    background: purple;
    font-size: 50px;
    color: white;
    margin: 5px;
    padding-bottom: 30px;
    border-bottom: solid 5px black;
}

h3 {
    font-family: serif;
    background: purple;
    font-size: 50px;
    color: white;
    margin: 5px;
    padding: 30px;
    border-bottom: 5px solid black;
}

/* about me section */
#headshot {
  float: left;
  position: relative;
  border: 1.5px solid black;
  margin: 5px;
}

#about-me{
    line-height: 1.5;
    background-color: purple;
    color: white;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 3px;
    position: relative;
    left: 200px;
    border: 3px solid black;
    height: 160px;
}


/* projects properties */
.projects {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    border: dashed black;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#projects-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* img{
    opacity: 1;
    transition: opacity 1s ease-in-out;
} */

.projects:hover {
    opacity: 0.6;
    transition: opacity .55s ease-in-out;
    transform: scale(1.5);
}

figcaption{
    text-align: center;
    color: white;
}

  /* footer properties */
footer{
      background: purple;
      border: 3px solid black;
      margin: 15px;
      display: block;
}

h5 {
    font-size: 35px;
    color: white;
}

h6 {
    color: white;
}

#footer-btns {
    display: flex;
    justify-content: center;
}

.contact {
    background-color:#f44336;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 992px) {
    #about-me {
        width: 75%;
        height: auto;
        left: auto;
        right: auto;
        margin: auto;
    }

    a{
        padding: 2px;
    }

    .contact{
        padding: 2px;
    }
}

@media screen and (max-width: 768px) {
    #about-me {
        width: 95%;
        height: auto;
        left: auto;
        right: auto;
        margin: auto;
    }

    a {
        padding: 2px;
    }

    .contact{
        padding: 2px;
    }
}